<!DOCTYPE html>
<html>
	<head>
		<% include ../includes/head %>		
	</head>
	<body id="page-login">						

		<div class="container">
		  		<div class="row">
		  			<div class="col-12 col-md-4 offset-md-4">  				  				  		
		  				 <div class="card mt-5">
		  				 	<div class="card-header">		                        
		                        <h5 class="card-title m-0">Setting a new password</h5>	                        
		                    </div> 
		  				 	
		  				 	<div class="card-body">
		  				 				  				 					  							  			
				  				<form method="post" role="form">
				  									  									  					
				  					<% include ../includes/flash %>
				  									  									  									  									  						
									<div class="form-group">										
								        <div class="input-group">
								        	<div class="input-group-prepend">
          										<div class="input-group-text"> <i class="fa fa-lock" aria-hidden="true"></i></div>
        									</div>								        						               								                       
								             <input class="form-control" type="text" name="password" value="" maxlength="50" placeholder="New password here." />
								         </div>
								     </div>	
								     								    											
									<input class="btn btn-success btn-block" type="submit" value="Save">							
																														
								</form>
								
								<hr>
																					
								<div class="form-group">
									<a href="/login">Login</a><br>
									Don't have an account? <a href="/signup">Sign up</a>
								</div> <!-- form-group -->	
								
							</div> <!-- card-body -->
						</div> <!-- card -->  				
		  			</div> <!-- col -->
		  		</div> <!-- row -->
		</div> <!-- container -->

		<% include ../includes/footer %>			
	</body>
</html>