<% layout('layouts/main') -%>

<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead"><strong>Pimp</strong> is a lightweight authentication server based on <a href="https://jwt.io/introduction/">JSON Web Token</a>.</p>
  <hr class="my-4">
  <h5>It contains:</h5>
  <ul>
  	<li>Public API</li>
  	<li>Users management</li>
  	<li>Tokens management</li>
  	<li>Logging</li>  	
  </ul>    
  <a class="btn btn-primary btn-lg" href="https://github.com/Kibo/Pimp" role="button">Learn more</a>
</div>


