<h3>Zpráva pro administrátora webu <%=domain%></h3>
<p>Byl odeslán nový formulář <b><%=form.name%></b></p>
<p><a href="http://<%=domain%>/manager/forms/all/<%=form.name%>">Přihlášte se do administrace webu.</a></p>