<h3><%=domain%></h3>

<p>This email was sent based on your request to send a forgotten password to the website <i><%=domain%></i>.</p>
<p>A temporary login password has been generated for you:</p>

<ul>
	<li><%=password%></li>
</ul>