<h3>TODO</h3>

<p>Tento email byl odeslán na základě vaší žádosti o zaslání zapomenutého hesla na webových stránkách <i>TODO</i>.</p>
<p>Bylo Vám vygenerováno dočasné heslo pro přihlášení:</p>

<ul>
	<li><%=password%></li>
</ul>