<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Pimp</title>
		<meta name="description" content="Lightweight authentication server.">		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="robots" content="noindex" />
		
		<% include ../includes/head %>			
	</head>
	<body>				
		<div class="container mb-3">	
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			  <a class="navbar-brand" href="/">
			    <img src="/img/pimp_logo_36.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">			    
			    <strong>Pimp</strong> <small>a lightweight authentication server</small>.			    			    			    			    		
			  </a>
			   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  			  
			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">			    				    
			    				    				    				    				      
			    </ul>
			    
			    <ul class="navbar-nav">
			    	<%if( typeof user === 'undefined' ){%>
						<li class="nav-item">
							<a class="nav-link" href="/signup"><%= __('signup') %></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/login"><%= __('login') %></a>
						</li>
					<%}else{%>
						<li class="nav-item">														
							<a class="nav-link" href="/logout"><%= __('logout') %></a>
						</li>
					<%}%>		              
		    	</ul>
			    
			  </div>	
			  				  			  			 			 	  			  			  	
			</nav>																											
		</div><!-- container -->	
								
		<main>
			<div class="container">
				<div class="row">
					<div class="col-12">	
						<% include ../includes/flash %>									
						<%- body %>
					</div>
				</div>
			</div>
		</main>
		
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-6">	
						TODO																				
					</div>
					<div class="col-12 col-md-6">	
						TODO																							
					</div>
				</div>		
			</div>
		</footer>																					
					
		<% include ../includes/footer %>			
	</body>
</html>